<!DOCTYPE html>
<html>
		<!-- http://colorschemedesigner.com/#3x61I9N7nw0wG --> 
<div id="left" >
</div>
<div id="right" >
</div>
	<body><?php include_once("analyticstracking.php") ?>
		<h1><a href="http://www.gaudicoloniaguell.org/" target="_blank">Colonia Gu&#252;ell</a></h1>
		<p>Between 1889 and 1908, famed Catalan architect <a href="https://www.google.com/search?q=antoni+gaudi&oe=utf-8&aq=t&rls=org.mozilla:en-US:official&client=firefox-a&um=1&ie=UTF-8&hl=en&tbm=isch&source=og&sa=N&tab=wi&authuser=0&ei=jTgiUob0NdWzsASJvIHACA&biw=1276&bih=659&sei=IaIiUtqWC5WmsQTW8ICwDA#imgdii=_" target="_blank">Antoni Gaud&#237;</a> designed the <a href="http://www.gaudicoloniaguell.org/" target="_blank">Colonia G&#252;ell</a> chapel, a remarkable structure that one expert described as a &#8220;[t]echnologically brilliant&#8221; combination of &#8220;the magic of traditional religious architecture with the originality of an isolated genius&#8221; (Sharp 2002, p. 54). At a time when contemporary designers were committed to the rationalist tools of two&#8211;dimensional drawing and mathematical calculation, Gaudi struck upon an innovative design method that was both startling in its simplicity and revolutionary in the possibilities that it unveiled. He began by drawing a scale outline of the church&#39;s foundation on a wooden panel, which he then hung upside&#8211;down from the ceiling of a small house near the work site. Beneath the inverted wooden panel, Gaud&#237; suspended an elaborate system of ropes and weights, which, when viewed through a mirror, revealed the shape, dimensions, and load&#8211;bearing capacities of a massively complex, yet aesthetically beautiful design for the proposed structure. <a href="http://upload.wikimedia.org/wikipedia/commons/f/fa/Maqueta_funicular.jpg" target="_blank">Photographs</a> of the upside&#8211;down model also were taken which, when turned right side up, provided Gaud&#237; with the perfect template for painting various architectural details to adorn the church&#39;s ingeniously derived form. Between the painted photographs and the inverted rope&#8211;and&#8211;weights model, Gaud&#237; obtained an unorthodox, but architecturally flawless set of plans for his famous chapel, one that no engineer of his time could have derived using traditional&nbsp;methods.
		<h6>Kysar, Douglas A., et al. &#8220;Group Report: Are Heuristics.&#8221; Heuristics and the law (2006):&nbsp;103.</h6>
	</body>
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43858543-1', 'joeyarrigo.com');
  ga('send', 'pageview');

</script>
</html>