<html>
	
<div id="left" >
</div>
<div id="right" >
</div>
	<body>
 

<p>	
The way history is told Egypt ends up everywhere. For some reason time goes backwards for a while then goes forward. Way far back was an empire built around a river. The <a href="http://www.youtube.com/watch?v=s2VzLn6DMCE" target="_blank">river</a> &#8211; birthed of the union Earth and <a href="http://upload.wikimedia.org/wikipedia/commons/6/68/Goddess_nut.jpg" target="_blank"><!--<div class="box"><iframe src="http://upload.wikimedia.org/wikipedia/commons/6/68/Goddess_nut.jpg" width = "800px" height = "500px"></iframe></div>-->Sky</a> &#8211; mother of gods and kings, but also a man who led slaves to leave the&nbsp;kingdom. 
</p>
<p>
But why does everyone know about ancient Egypt some thousands of years ago? Written records of the kingdom use esoteric hieroglyphs interpreted through greek comparisons. There are some greek and roman records, and <a href="http://poetry.rapgenius.com/Holy-bible-kjv-exodus-1-lyrics" target="_blank">Exodus</a>. And artifacts. Ostentatiously noticeable artifacts. Giant stone block structures emerging from flat empty expanses of desert sand. And that is interesting to some extent in itself, but really more should be&nbsp;asked. 
</p>
<p>
Interesting <a href="http://www.dankwatch.com/" target="_blank">sculptures</a> show up everywhere with some developed art or civilization. Even more barbaric peoples end up creating interesting sculptures if only through barbaric acts which result in creation, even if indirectly. But this is again outlining the boundaries of recorded&nbsp;history. 
</p>
<p>
Anthropic projects of excavation and uncovering artifacts seek to answer questions &#8211;to sort and assemble and organize information &#8211; questions, which seem to fall through other records. So an analysis should look at what comprises recorded history and why, as well as what else interesting may be uncovered through other projects, what acts leave facts behind to evidence the kinds of anthropic activities researchers find interesting, and what kinds of people are traces of their activities being found and interesting. This answers in a reflective (or maybe it&#8242;s reflexive?)&nbsp;way. 
</p>
<p>
<a href="http://www.youtube.com/watch?v=c1_MBoqG9JU" target="_blank"><em>History</em></a> is then a function of two discourses: roman philosophico &#8211; juridical, and biblical history of exile and slaves (historico &#8211; political). Roman history was to serve and justify sovereign power. Complex and prohibitive discourse of the state. So a narrative is propped up, assembled from pieces of records, evidence accessible, other factors or appendages that can reasonably bolt on. Brute facts, contingencies or accidents, psychological and moral&nbsp;components. 
</p>
<p>
All of this has to eventually get back to Egypt, the pyramids, and a society of the dead. The shape of the pyramid. When norms meet at an orthogonal articulation there may be perceived pyramid.  The dialectic rests on three points. And weave together to form a discourse.  Fractal based geometry, Fibonacci and slave numbers the numbers of slavery. So pyramids are intellectually brutal structures, seeming to wage war on <%= link_to "gravity", :joeyarrigo_gaudi  %>. Thousands of years later they still stand, so conquest? Built by slaves, same slaves freed in Exodus: slaves toil and die for the king and the glory of his journey to afterlife. This is important to understand &#8211; and I&#8242;m not sure I&nbsp;do. 
</p>
<p>
Egyptian <a href="http://en.wikipedia.org/wiki/Osiris#Mythology" target="_blank">ontology?</a> Well Egyptian language was complex and esoteric. There were both common and sacred dialects, that it was forbidden for common eyes to see holy text, common ears to hear the words. This enhanced power effects between those who could read the magic texts and rituals and those who could not. To create privileged knowledges with specific power effects. This is language, secretive, magic, powerful, and&nbsp;coveted. 
</p>
<p>
The worldview painted with Egyptian language is populated by the actions of gods and their descendants who would come to rule the kingdom. There is very much to consider and say regarding the world view, wiki it.  But it is well ordered surrounding the royal family and the afterlife. Again, wiki it, but ontology depends on hierarchy and subjugation. And the&nbsp;River. 
</p>
<p>
The pyramid became an imposing brutal fact but never so basic as the kingdom would starve, depended on the river to flood every year. And magic to maintain order and manage expectations when there was doubt became very important to the power of the kingdom. The Osiris myth tells the story of this interdependence and an illusion &#8211; or at least migration/transformation/exodus/masking &#8211; of&nbsp;power. 
</p>
<p>
And it&#8242;s just so stark there and in the imagination. Giant geometric monoliths in the middle of the desert to represent a river kingdom, and everyone involved dead long before any point accessible today. Built for a purpose they still serve just as well thousands of years later as ever, the day a dead king was sealed inside with processions and slaves. The most powerful man &#8211; obviously in this practice his life and death end up under multitude of microscopy. The god&#8211;man was in the end another slave to house death. And this is history, a basic organizing structure of power. Imagination and what can be seen. This can go around more and become more intricate, but the brute basic facts are for the most part laid&nbsp;out. 
</p>
		
	</body>
</html>
